@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

ul[class],
ol[class] {
    list-style: none;
}

ul[class],
ol[class] {
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    background-color: #17191C;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

a {
    color: inherit;
}

.wrapper {
    background-image: url(./images/hero.png), url(./images/bottom-pic.png);
    background-position: top, bottom;
    background-repeat: no-repeat;
}

.container {
    width: 1142px;
    margin: auto;
    position: relative;
}

.hero-img {
    width: 1910px;
    position: absolute;
    top: 0;
    left: -384px;
    z-index: -100;
}

.bottom-img {
    width: 1910px;
    position: absolute;
    top: 1820px;
    left: -384px;
    z-index: -100;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 21px;
    margin-bottom: 160px;
}

.logo {}

.navigation {
    padding-bottom: 10px;
}

.navigation__list {
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation__item {
    font-size: 14px;
    margin-right: 54px;
}

.navigation__link {
    text-decoration: none;
}

.navigation__link--active {
    color: #FF3D00
}


.contacts {}

.contacts__phone {
    font-size: 26px;
    text-decoration: none;
    font-style: normal;
}

.contacts__workdays {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #FF3D00;
    text-decoration: underline;
    text-align: end;
}

.page-content {}

.main-title {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 235px;
}

.main-title__header {
    font-size: 72px;
    text-align: center;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.main-title__subheader {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 44px;
}

.main-title__button {
    margin: auto;
}

.btn {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    width: 195px;
    padding: 18px 0;
    background-color: #FF3D00;
    border-radius: 35px;
    text-align: center;
    text-transform: uppercase;
}

.btn-border {
    background-color: transparent;
    color: #FF5500;
    border: 2px solid #FF5500;
}

.adv-block {
    margin-bottom: 180px;
}

.adv-block__list {
    display: flex;
    justify-content: space-between;
}

.adv-block__adv {
    width: calc(100%/3 - (27px*2)/3);
}

.adv-block__adv:last-child {
    margin-right: 0;
}

.adv {
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 36px 34px 52px 22px;

    display: flex;
    flex-direction: column;
}

.adv__header {}

.adv__pic {
    width: 84px;
    height: 80px;
    margin-bottom: 29px;
}

.adv__header {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #000000;
    margin-bottom: 17px;
    margin-top: 0;
}

.adv__info {
    display: flex;
    justify-content: space-between;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 25px;
}

.adv__team {
    text-align: left;
    margin-right: 70px;
}

.adv__terms {
    text-align: left;
}

.adv__description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    width: 306px;
    margin-bottom: 29px;
}

.adv__button {
    margin-top: auto;
}

.news {
    margin-top: 0;
    margin-bottom: 124px;
}

.news__list {
    display: flex;
    margin-bottom: 53px;
}

.news__discount {
    height: 394px;
    flex: 1;
    margin-right: 25px;
}

.news__discount:last-child {
    margin: 0;
}

.news__camera-bg {
    background-image: url(./images/camera.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.news__wedding-bg {
    background-image: url(./images/wedding.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.news__title {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 51px;
    margin-top: 0;
}

.discount {
    display: flex;
    flex-direction: column;
    padding: 26px 30px;
}

.discount__description {
    margin-top: auto;
}

.discount__month {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    width: 94px;
    height: 21px;
    margin-bottom: 13px;
}

.discount__amount {
    font-style: normal;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 4px;
}

.discount__new-year {
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator__display {
    font-size: 16px;
    margin-right: 25px;
}

.paginator__list {
    display: flex;
    align-items: center;
}

.paginator__number {
    font-size: 16px;
    margin-right: 24px;
    font-weight: 700;
}

.paginator__number a {
    text-decoration: none;
}

.paginator__number.active {
    border-radius: 32px;
    width: 32px;
    height: 32px;
    padding: 5px 11px;
    box-sizing: border-box;
    background-color: #FF5500;
    margin-right: 13px;
}


.paginator__number:last-child {
    margin: 0;
}

.about {
    border-color: transparent;
    display: flex;
    align-items: flex-start;
    margin-bottom: 53px;
}


.about__photo {
    width: 490px;
    height: 505px;
}

.about__paper {
    flex: 1;
    max-width: 785px;
    min-height: 455px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 70px 81px;
    margin-left: -132px;
    margin-top: 150px;
}

.about__header {
    font-style: normal;
    color: #000000;
    font-weight: 800;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 37px;

}

.about__fish {
    color: #000000;
    margin-bottom: 43px;
    width: 502px;
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.footer__column {
    display: flex;
    align-items: flex-end;
}

.footer__logo {
    margin-right: 130px;
}

.footer__navigation {}


.footer__item {
    font-size: 14px;
}

.footer__item a {
    text-decoration: none;
}

.footer__social {
    margin-right: 74px;
}

.social {}

.social__list {
    display: flex;
    margin: 0;
}

.social__el {
    margin-right: 10px;
}

.social__el:last-child {
    margin: 0;
}

.footer-contact {}

.footer-contact__call {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    margin-bottom: 6px;
    color: #9A9A9A;
    text-align: end;
}

.footer-contact__phone {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    text-decoration: none;
}

.footer-border-line {
    height: 1px;
    background-color: #2E3032;
    margin-bottom: 40px;
}