@import url(./button.css);

.about {
    border-color: transparent;
    display: flex;
    align-items: flex-start;
    margin-bottom: 53px;
}


.about__photo {
    width: 490px;
    height: 505px;
}

.about__paper {
    flex: 1;
    max-width: 785px;
    min-height: 450px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 66px 85px;
    margin-left: -132px;
    margin-top: 101px;
}

.about__header {
    font-style: normal;
    color: #000000;
    font-weight: 800;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 37px;

}

.about__fish {
    color: #000000;
    margin-bottom: 60px;
    width: 502px;
    font-size: 16px;
}