@import url(./adv.css);

.adv-block {
    margin-bottom: 180px;
}

.adv-block__list {
    display: flex;
    justify-content: space-between;
}

.adv-block__adv {
    width: calc(100%/3 - (26px*2)/3);
}

.adv-block__adv:last-child {
    margin-right: 0;
}