.btn {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    width: 195px;
    padding: 18px 0;
    background-color: #FF3D00;
    border-radius: 35px;
    text-align: center;
    text-transform: uppercase;
}

.btn-border {
    background-color: transparent;
    color: #FF5500;
    border: 2px solid #FF5500;
}

.btn-white{
    color: white;
}

