@import url(./social.css);
@import url(./logo.css);
@import url(./navigation.css);

.footer {
    display: flex;
    justify-content: space-between;
}

.footer__column {
    display: flex;
    align-items: flex-end;
}

.footer__logo {
    margin-right: 130px;
    padding-top: 22px;
    padding-left: 10px;
}

.footer__navigation {
}


.footer__item {
    font-size: 14px;
}

.footer__item a {
    text-decoration: none;
}

.footer__social {
    margin-right: 65px;
    padding-bottom: 16px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
}

.footer-contact__call {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #9A9A9A;
    text-align: end;
    margin-bottom: 5px;
}

.footer-contact__phone {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-border-line {
    height: 1px;
    background-color: #2E3032;
    margin-bottom: 16px;
}

.footer-block {
    background-color: #000000;
    padding-top: 25px;
    padding-bottom: 42px;
}

.navigation__item {
    color: #ffffff;
}

.footer-contact__phone {
    color: #ffffff;
}

.telegram--icon {
    width: 36px;
    height: 36px;
    background: url('./../../images/social_sprites.png') -122px -66px;
}

.telegram--icon:hover {
    background: url('./../../images/social_sprites.png') -122px -10px;
}

.vk--icon{
    width: 36px; height: 36px;
    background: url('./../../images/social_sprites.png') -66px -122px;
}

.vk--icon:hover{
    width: 36px; height: 36px;
    background: url('./../../images/social_sprites.png') -10px -122px;
}

.facebook--icon{
    width: 36px; height: 36px;
    background: url('./../../images/social_sprites.png') -10px -10px;
}

.facebook--icon:hover{
    width: 36px; height: 36px;
    background: url('./../../images/social_sprites.png') -66px -10px;
}

.inst--icon{
    width: 36px; height: 36px;
    background: url('./../../images/social_sprites.png') -66px -66px;
}

.inst--icon:hover{
    width: 36px; height: 36px;
    background: url('./../../images/social_sprites.png') -10px -66px;
}
