@import url(./logo.css);
@import url(./navigation.css);
@import url(./contacts.css);

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 16px;
    margin-bottom: 143px;
    padding-left: 11px;
}

