@import url(./discount.css);
@import url(./paginator.css);

.news {
    margin-top: 0;
    margin-bottom: 98px;
}

.news__list {
    display: flex;
    margin-bottom: 10px;
}

.news__discount {
    height: 350px;
    flex: 1;
    margin-right: 32px;
}

.news__discount:last-child {
    margin: 0;
}

.news__camera-bg {
    background-image: url(./../../images/camera.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.news__wedding-bg {
    background-image: url(./../../images/wedding.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.news__title {
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 51px;
    margin-top: 0;
    text-transform: uppercase;
}
