@import url(./../fonts.css);
@import url(./../normalize.css);
@import url(./../shared.css);
@import url(./../blocks/header.css);
@import url(./../blocks/button.css);
@import url(./../blocks/paginator.css);
@import url(./../blocks/footer.css);
@import url(./../blocks/services.css);
@import url(./../blocks/partners.css);
@import url(./../blocks/breadcrumb.css);
@import url(./../blocks/navigation.css);

.hero {
    color: #ffffff;
    background-image: url(./../../images/top-line.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0px;
}

.header {
    margin-bottom: 112px;
}

.header__navigation{
    padding-top: 20px;
    padding-bottom: 10px;
}

.hero__title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    margin: 0;
    margin-bottom: 80px;
    padding-left: 10px;
}

.paginator__number.active {
    color: #ffffff;
}



